<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="static/favicon.jpg" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"></script>
    <script src="https://cdn.jsdelivr.net/npm/tsparticles@1.24.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/tsparticles-shape-confetti@1.9.1"></script>


    <title>SpartaGlobal Engineering84 Final Project</title>
</head>

<body class="font-sans antialiased bg-gray-50 text-gray-900">
    <main>
        <button onclick="topFunction()" id="topBtn" title="Go to top"
            class=" w-full px-8 py-3.5 transition duration-300 bg-blue-500 hover:bg-blue-600 shadow text-white font-semibold rounded-lg sm:w-auto ">
            Top
        </button>
        <div class="bg-100vw bg-no-repeat bg-right-bottom xl:bg-bottom pb-20" style="background-image: linear-gradient(to bottom, 
                      rgba(255,255,255,1) 10%,
                      rgba(255,255,255,0.8) 30%,

                      rgba(0,0,0,0)), url('static/background.jpg');">
            <!-- Start Hero Block -->
            <div class="container mx-auto px-5 pb-16 sm:pb-16 lg:pb-24 xl:pb-32" id="home">
                <header class="flex justify-between items-center pt-5">
                    <div>
                        <a href="#0" class=""><img src="../static/spartalogo.png" alt="" width="120em"
                                height="100em" /></a>
                    </div>
                    <div class="hidden space-x-8 font-medium lg:block">
                        <a href="#home" class="hover:text-blue-600 transition-colors duration-300">Home</a>
                        <a href="#team" class="hover:text-blue-600 transition-colors duration-300">Team</a>
                        <a href="#jobs" class="hover:text-blue-600 transition-colors duration-300">Top IT Jobs</a>
                        <a href="#tools" class="hover:text-blue-600 transition-colors duration-300">Tools</a>
                    </div>
                    <div class="hidden font-medium lg:block">
                        <!--                        <a href="#0" class="hover:text-blue-600 transition-colors duration-300">Something else</a>-->
                    </div>
                    <div class="block lg:hidden">
                        <nav role='navigation'>
                            <div id="menuToggle">
                                <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
                                <input type="checkbox" />

                                <!--
    Some spans to act as a hamburger.
    
    They are acting like a real hamburger,
    not that McDonalds stuff.
    -->
                                <span></span>
                                <span></span>
                                <span></span>

                                <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
                                <ul id="menu">
                                    <a href="#home">
                                        <li>Home</li>
                                    </a>
                                    <a href="#team">
                                        <li>Team</li>
                                    </a>
                                    <a href="#jobs">
                                        <li>Top IT Jobs</li>
                                    </a>
                                    <a href="#tools">
                                        <li>Tools</li>
                                    </a>
                                    <a href="#footer">
                                        <li>Contact</li>
                                    </a>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </header>
                <div class="mt-16 space-y-8 lg:mt-24 xl:mt-28">
                    <div class="space-y-4">
                        <br>
                        <br>
                        <h1 class=" text-3xl font-black sm:w-2/3 sm:text-4xl md:max-w-xl md:text-5xl ">
                            DevOps Stream Final Project
                        </h1>
                        <p class="max-w-sm text-lg text-gray-700 md:max-w-md md:text-xl">
                            A fully automated deployment by Engineering 84 Team
                        </p>
                    </div>
                    <button type="button" id="party" class="
                                w-full
                                px-8
                                py-3.5
                                transition
                                duration-300
                                bg-blue-500
                                hover:bg-blue-600
                                shadow
                                text-white
                                font-semibold
                                rounded-lg
                                sm:w-auto
                                
                            ">
                        Push me to celebrate a WoW moment
                    </button>
                    <div style="z-index: 1;" id="tsparticles"></div>
                </div>
            </div>
        </div>
    </main>

    <section class="bg-gray-100 py-12 lg:py-16 xl:py-28">
        <!-- Start Our Team Block -->
        <div class="container mx-auto px-5" id="team">
            <div class="grid gap-6 lg:gap-10 xl:grid-cols-3">
                <div class="space-y-2 lg:space-y-4">
                    <h2 class="text-2xl font-black sm:text-3xl">Our team</h2>
                    <p class="w-full sm:w-1/2 xl:w-80 text-gray-600 md:text-lg">
                        Our amazing team, doing an amazing job.
                    </p>
                </div>
                <div class=" grid gap-6 grid-cols-2 md:grid-cols-4 lg:gap-10 xl:col-span-2 ">
                    {% for team in context %}
                    {% for member in team %}
                    <div class="space-y-5">
                        <img class=" rounded-xl shadow transition-shadow duration-200 hover:shadow-lg "
                            src={{member.src}} alt="Team Member" />
                        <div class="space-y-1">
                            <h4 class="font-medium lg:text-lg">{{member.name}}</h4>
                            <p class="text-gray-600">{{member.role}}</p>
                            <a href="{{member.github}}" class="fa fa-github icon-gray icon-mid"></a>
                            <a href="{{member.linkedin}}" class="fa fa-linkedin-square icon-gray icon-mid"></a>
                            <!--
                            <a href="{{member.github}}" class="fa fa-github font-medium lg:text-lg icon-gray"
                                style="font-size:2rem; margin-right:1rem; "></a>
                            <a href="{{member.linkedin}}" class="fa fa-linkedin-square icon-gray" style="font-size:2rem;
                                color:#2867B2;  "></a>
                            -->

                        </div>
                    </div>
                    {% endfor %}
                    {% endfor %}


                </div>
                <!-- End Team Member Box -->
            </div>

    </section><!-- End Our Team Block -->

    <section class="py-12 lg:py-16 xl:py-28">
        <!-- Start Top 30 Jobs Block -->
        <div id="jobs" class="container mx-auto px-5">
            <div class="grid gap-6 lg:gap-10 xl:grid-cols-3">
                <div class="space-y-2 lg:space-y-4">

                    <h2 class="text-2xl font-black sm:text-3xl">
                        Top 30 Jobs from
                        <a href="https://www.itjobswatch.co.uk/"> ITJobsWatch </a>
                        website.
                    </h2>
                    <p class="w-full sm:w-1/2 xl:w-80 text-gray-600 md:text-lg">We are gathering data in real time
                        from the ITJobsWatch website and presenting them right here.</p>
                    <br />
                    <!-- Button to download the table as a CSV file -->
                    <button class="btn btn btn-primary" style="width: fit-content; float: left"
                        onclick="exportTableToCSV('ITJobsWatchTop30.csv')">Click to Download</button>
                </div>

                <div class="flex flex-col space-y-5 xl:col-span-2">
                    <div
                        class="bg-white p-5 rounded-xl shadow space-y-2 cursor-pointer transition duration-200 hover:shadow-lg md:p-8">
                        <!-- Start Question -->
                        <div class="justify-between items-center">
                            <table id="data" class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Skill / Job Role</th>
                                        <th scope="col">Rank (Last 6 Months)</th>
                                        <th scope="col">Rank (Last Year)</th>
                                        <th scope="col">Median Salary</th>
                                        <th scope="col">Median Salary (YoY)</th>
                                        <th scope="col">Historical Job Ads</th>
                                        <th scope="col">Job Vacancies</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <!-- display the error message if it's a string -->
                                    {% if data is string %}
                                    <tr>{{ data }} </tr>

                                    <!-- display the jobs if there are no errors -->
                                    {% else %}
                                    <!-- display the information -->
                                    {% for job in data %}
                                    <tr>
                                        {% for info in job %}
                                        <td>{{ info }}</td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div><!-- End Question -->

                </div>
            </div>
        </div>
    </section><!-- End Top 30 Jobs  Block -->

    <div class="border-t border-gray-100"></div>

    <section class="py-12 lg:py-16 xl:py-28 bg-gray-100">
        <!-- Start How It Works Block -->
        <div id="tools" class="container mx-auto px-5">
            <div class="flex justify-between gap-6 lg:gap-10 xl:grid-cols-3">
                <div class="space-y-2 lg:space-y-4">
                    <img src="../static/final_tools_bannner.png" alt="" />
                </div>
                <div class="space-y-2 lg:space-y-4 align-center">

                    <h2 class="text-2xl font-black sm:text-3xl">Tools we used</h2>
                    <p class="w-full sm:w-1/2 xl:w-80 text-gray-600 md:text-lg">Our teams have used different tools to
                        perform their tasks.</p>
                </div>
            </div>
        </div>
    </section><!-- End How It Works Block -->

    {% include 'footer.html' %}

    {% include "scripts.html" %}

</body>

</html>