    <!-- Site footer -->
    <footer id='footer' class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>About</h6>
                    <p class="text-justify"> Sparta Global</p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Sections</h6>
                    <ul class="footer-links">
                        <li><a href="#home">Home</a></li>
                        <li><a href="#team">Team</a></li>
                        <li><a href="#jobs">Jobs</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="https://www.spartaglobal.com/about/">About Us</a></li>
                        <li><a href="https://www.spartaglobal.com/contact/">Contact Us</a></li>
                        <li><a href="https://www.spartaglobal.com/careers/">Careers</a></li>
                        <li><a href="https://www.spartaglobal.com/student-academy/">Academy</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="https://www.facebook.com/spartaglobal/"><i
                                    class="fa fa-facebook"></i></a></li>
                        <li><a class="linkedin" href="https://www.linkedin.com/company/sparta-global/mycompany/"><i
                                    class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>