<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Just to make it look a little nice for now -->
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
        <title>Top 30 Jobs</title>
    </head>

    <body>
        <!-- Displays a table of jobs from the imported list of dictionaries -->
        <table>
            <tr>
                <!-- display the column names -->
                {% for key in job_list[0].keys() %}
                    <th>{{ key }}</th>
                {% endfor %}
            </tr>

            <!-- display the information -->
            {% for job in job_list %}
                <tr>
                    {% for info in job.values() %}
                        <td>{{ info }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
